  <div class="widget-wrap">
    <h3 class="widget-title">Colophon</h3>
    <div class="widget colophon">
      <ul>
        <li><a href="<%- url_for('/About/') %>">About Me</a></li>
        <li><a href="<%- url_for('/Hire-Me/') %>">Hire Me</a></li>
        <li>&nbsp;</li>
        <li><a href="http://twitter.com/edmistond">Twitter</a><li>
        <li><a href="http://github.com/edmistond">Github</a></li>
      </ul>
    </div>
  </div>
